<!-- TODO: Set up a tab UI for RabbitMQ, FHIR, anything else we want to test -->

<% rabbitmq_server = ENV["RABBITMQ_URL"] %>
<% if rabbitmq_server == 'localhost' %>
  <div class="alert alert-warning" role="alert"><code>RABBITMQ_URL</code> has been set to <code><%= rabbitmq_server %></code>. If this is incorrect, change it and restart.</div>
<% else %>
  <div class="alert alert-info" role="alert">Using <code><%= rabbitmq_server %></code> as the RabbitMQ server. If you wish to modify this, change the <code>RABBITMQ_URL</code> environment variable and restart the server.</div>
<% end %>

<h1>Publish Message</h1>
<%= form_tag('dashboard/publish', remote: true) do %>
  <div class="form-group">
    <label for="pub_message">Message Text</label>
    <!-- <small id="pub_message_tooltip" class="form-text text-muted">Send a quick message to all subscribers.</small> -->
    <%= text_field 'pub_message', nil, class: "form-control", placeholder: 'Publish something...' %>
  </div>
  <div class="form-group">
    <label for="pub_exchange">Exchange</label>
    <!-- <small id="pub_exchange_tooltip" class="form-text text-muted">This exchange is parsed by RabbitMQ and used to route the message to the approproate parties.  In this fanout exchange, all parties connected to the queue bound to this exchange will receive the message, regardless of the routing key.</small> -->
    <%= text_field 'pub_exchange', nil, class: "form-control", placeholder: 'Enter an exchange' %>
  </div>
  <div class="form-group">
    <label for="pub_queue">Queue</label>
    <!-- <small id="pub_queue_tooltip" class="form-text text-muted">This is the queue that the exchange will be bound to as part of the fanout exchange.</small> -->
    <%= text_field 'pub_queue', nil, class: "form-control", placeholder: 'Enter a queue' %>
  </div>
  <p><button id='publish' type='submit' class="btn btn-primary">Publish</button></p>
<% end %>
<!-- TODO: display success/failure messages after sending -->
<br>

<h1>Received Messages</h1>
<div class='alert alert-info'>This table is bound to the <code>messages</code> queue.  No other messages will be displayed.</div>
<!-- This table loads as empty but is populated using the list_messages.html.erb partial -->
<table class='table' id='messages_table'></table>

<p><button id='delete' class="btn btn-warning">Delete All Messages</button></p>

<!-- TODO: Add a UI option to control subscriptions -->
<!-- TODO: Link the UI to RabbitMQ...somehow -->
